data/*
!data/README.md
outputs/
input/
inference_outputs
test.sh
*__pycache__/

# Custom weights folder (mainly for testing).
weights/

# Weights and Biases
wandb/*

# IPython checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
.venv38
env/
venv/
venv38/
ENV/
env.bak/
venv.bak/
venv38.bak/